<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <system.serviceModel>

    <services>
      <service behaviorConfiguration="DuplexCalcBehavior"
               name="WCFService.CalculatorService">
        <endpoint address="net.tcp://localhost/ServiceModelSamples/Service.svc"
                  binding="netTcpBinding"
                  contract="WCFService.ICalculator" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding portSharingEnabled="false">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DuplexCalcBehavior">
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>